{% extends "base.html" %}
{% block title %}Адмін-панель{% endblock %}
{% block content %}
    <div class="about-us-content">
        <div class="about-us-image"><img src="static/img/VofkPizza.png" alt="pizza"></div>
        <div class="about-us-info">
            <ul class="text-about">
                <li>
                    Завітавши до "VofkPizza", ви поринете в атмосферу
                </li>
                <li>
                    середньовічного романтизму, насолоджуючись смачною піцою
                </li>
                <li>
                    з видом на легендарний замок Любарта. Наш заклад пропонує
                </li>
                <li>
                    широкий вибір піц на будь-який смак: від класичної
                </li>
                <li>
                    Маргарити до авторських комбінацій з незвичайними інгредієнтами.
                </li>
                <li>
                    Ми гарантуємо нашим відвідувачам атмосферу, смак
                </li>
                <li>
                    та якість з 2004 року.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}